<div *ngIf="mr">
    <h1>{{mr.year}}/{{mr.month}}</h1>
    <h4>Daily records</h4>
    <table>
        <tr>
            <th>Day</th>
            <th>Arrival</th>
            <th>Leave</th>
            <th>Spent outside</th>
            <th>Delta</th>
            <th>Daily delta</th>
            <th>Working day</th>
        </tr>

        <!-- //https://stackoverflow.com/questions/34556277/angular2-table-rows-as-component -->
        <tr app-daily-record [data]="dr" class="form-group" *ngFor="let dr of mr.dailyRecords; let i = index">
        </tr>
    </table>

    <input type="time" class="form-control" [value]="mr.overtimeFromPreviousMonth"
        (input)="mr.overtimeFromPreviousMonth = $event.target.value">

    <div>Monthly delta: {{mr.monthlyDelta}}</div>

    <button class="btn btn-primary" (click)="onSubmit()">Save</button>
</div>