<th scope="row">{{data.day}}</th>
<td>
    <input type="time" class="form-control" [value]="data.arrived" [disabled]="!data.isWorkingDay"
        (input)="onArrivedChanged($event.target.value)">

    <!-- <input type="time" class="form-control" [(ngModel)]="dr.arrivalTimeString"> -->
</td>
<td>
    <input type="time" class="form-control" [value]="data.left" [disabled]="!data.isWorkingDay"
        (input)="onLeftChanged($event.target.value)">
</td>
<td>
    <input type="time" class="form-control" [value]="data.spentOutside" [disabled]="!data.isWorkingDay"
        (input)="onSpentOutsideChanged($event.target.value)">
</td>
<td>
    <input type="text" class="form-control right-aligned-text" [value]="data.deltaFromAccountingSystem" [disabled]="!data.isWorkingDay"
        (input)="onDeltaFromAccountingSystemChanged($event.target.value)">
</td>
<td>
    <input type="text" class="form-control right-aligned-text" placeholder="N/A" readonly [value]="delta.asString">
</td>
<td>
    <input type="checkbox" class="form-check-input ml-3 mt-2" [checked]="data.isWorkingDay" (change)="isWorkingDayChanged($event)">
</td>